{% extends "_base.html" %}
{% block title %}{{ super() }} {{ data['title'] }} {% endblock %}
{% block crumbs %}{{ super() }}
/ <a href="{{ data['collections_path'] }}">{% trans %}Collections{% endtrans %}</a>
{% for link in data['links'] %}
  {% if link.rel == 'collection' %} /
    <a href="{{ data['dataset_path'] }}">{{ link['title'] | string | truncate( 25 ) }}</a>
    {% set col_title = link['title'] %}
  {% endif %}
{% endfor %}
/ <a href="{{ data['items_path']}}">{% trans %}Items{% endtrans %}</a>
{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.3.2/css/fixedColumns.dataTables.min.css"> 
{% endblock %}

{% block body %}
  <section id="items"></section>
  <section id="collection">
    <h1>{% for l in data['links'] if l.rel == 'collection' %} {{ l['title'] }} {% endfor %}</h1>
    <!-- GA customisation disable trans
    <p>{% trans %}Items in this collection{% endtrans %}.</p> -->
  </section>
  <section id="items">
    {% if data['features'] %}
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-sm-12">
            <div id="items-map"></div>
          </div>
          <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                  {% trans %}Warning: Higher limits not recommended!{% endtrans %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  {% trans %}Limit{% endtrans %}:
                  <select id="limits">
                    <option value="{{ config['server']['limit'] }}">{{ config['server']['limit'] }} ({% trans %}default{% endtrans %})</option>
                    <option value="100">100</option>
                    <option value="1000">1,000</option>
                    <option value="2000">2,000</option>
                  </select>
                  <script>
                    var select = document.getElementById('limits');
                    var defaultValue = select.getElementsByTagName('option')[0].value;
                    let params = (new URL(document.location)).searchParams;
                    select.value = params.get('limit') || defaultValue;
                    select.addEventListener('change', ev => {
                      var limit = ev.target.value;
                      document.location.search = `limit=${limit}`;
                    });
                  </script>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                {% for link in data['links'] %}
                {% if link['rel'] == 'prev' and data['offset'] > 0 %}
                <a role="button" href="{{ link['href'] }}">{% trans %}Prev{% endtrans %}</a>
                {% elif link['rel'] == 'next' and data['features'] %}
                <a role="button" href="{{ link['href'] }}">{% trans %}Next{% endtrans %}</a>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6" style="overflow-x: scroll;">
        {% set props = [] %}
        <table id="searchtable" class="stripe cell-border order-column" style="width:100%">
          <thead>
            <tr>
              {% if data.get('uri_field') %}
                {% set uri_field = data.uri_field %}
                <th>                  
                  <label> {{uri_field}} </label>
                  <div> {{uri_field}} </div>
                </th>
              {% elif data.get('title_field') %}
                {% set title_field = data.title_field %}
                <th>
                    <label> {{ title_field }} </label>
                    <div>  {{ title_field }} </div>
                </th>
              {% else %}
                <th>
                    <label> id </label>
                    <div> id </div>
                </th>
              {% endif %}

              {% for k in data['features'][0]['properties'].keys() %}
                {% if k not in [data.id_field, data.title_field, data.uri_field, 'extent'] %}
                  {% set props = props.append(k) %}
                  <th>
                      <label> {{ k }} </label>
                      <div> {{ k }} </div>
                  </th>
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for ft in data.features %}
              <tr>
                {% if data.get('uri_field') %}
                  {% set uri_field = data.uri_field %}
                  <td data-label="{{ uri_field }}">
                    <a href="{{ ft.properties.get(uri_field) }}" title="{{ ft.properties.get(uri_field) }}">
                      {{ ft.properties.get(uri_field) }}
                    </a>
                  </td>
                {% elif data.get('title_field') %}
                  {% set title_field = data.title_field %}
                  <td data-label="{{ title_field }}">
                    <a href="{{ data.items_path }}/{{ ft['id'] }}" title="{{ ft.properties.get(title_field) }}">
                      {{ ft.properties.get(title_field) | string | truncate( 35 ) }}
                    </a>
                  </td>
                {% else %}
                  <td data-label="id">
                    <a href="{{ data.items_path }}/{{ ft.id }}" title="{{ ft.id }}">
                      {{ ft.id | string | truncate( 12 )  }}
                    </a>
                  </td>
                {% endif %}

                {% for prop in props %}
                  <td data-label="{{ prop }}">
                    {{ ft.properties.get(prop, '') | string | truncate( 35 ) }}
                  </td>
                {% endfor %}

              </tr>
            {% endfor %}
          </tbody>
          </table>
      </div>
    </div>
    {% else %}
    <div class="row col-sm-12">
        <p>{% trans %}No items{% endtrans %}</p>
    </div>
    {% endif %}
    </section>
    <script>
        $(document).ready(function() {
      	// Setup - add a text input to each header cell
      	$('#searchtable thead th div').each(function(i) {
        	var title = $('#searchtable thead th div').eq($(this).index()).text();
        	$(this).html('<input type="text" placeholder="Search ' + '" data-index="' + i + '" />');
      	});

      	// DataTable
      	var table = $('#searchtable').DataTable({
        	responsive: true,
        	paging: true,
        	sorting: false,
        	searching: true,
	      //dom: 'rtip',      //this can be used to remove the search bar at the top and other configuration settings
      	});

      	// Filter event handler
      	$(table.table().container()).on('keyup', 'thead input', function() {
        	table
          	.column($(this).data('index'))
          	.search(this.value)
          	.draw();
      	});
      });
    </script>
{% endblock %}

{% block extrafoot %}
{% if data['features'] %}
    <script>
    var map = L.map('items-map').setView([{{ 45 }}, {{ -75 }}], 5);
    map.addLayer(new L.TileLayer(
        '{{ config['server']['map']['url'] }}', {
            maxZoom: 18,
            attribution: '{{ config['server']['map']['attribution'] | safe }}'
        }
    ));
    var geojson_data = {{ data['features'] | to_json | safe }};

    var items = new L.GeoJSON(geojson_data, {
        onEachFeature: function (feature, layer) {
            var url = '{{ data['items_path'] }}/' + feature.id + '?f=html';
            var html = '<span><a href="' + url + '">' + {% if data['title_field'] %} feature['properties']['{{ data['title_field'] }}'] {% else %} feature.id {% endif %} + '</a></span>';
            layer.bindPopup(html);
        }
    });
    {% if data['features'][0]['geometry']['type'] == 'Point' %}
    var markers = L.markerClusterGroup({
        disableClusteringAtZoom: 9,
        chunkedLoading: true,
        chunkInterval: 500,
    });
    markers.clearLayers().addLayer(items);
    map.addLayer(markers);
    {% else %}
    map.addLayer(items);
    {% endif %}

    map.fitBounds(items.getBounds());
    </script>
{% endif %}
{% endblock %}
